
.chart-area-background {
  position: relative;
  width: 100%;
  height: 100%;
  top: auto;
  right: auto;
  display: flex;
  justify-content:space-evenly;
  flex-direction: column;
  background-color: rgba(23,51,59,0.9);
}

.square-space {
  display: grid;
  grid-template-rows: 50px 1fr;
}


.chart-title {
  background-color: #3DC854;
  position: relative;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  margin-top: auto;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0;
  font-weight: 800;
  font-size: 18px;
  

}

.chart-area {
  background-color: #17333B;
  position: relative;
  height: auto;
  width: 90%;
  margin-top: 0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:auto;
  padding: 1rem 1rem  1rem 1rem;
  border-radius: 0 0 0.5rem 0.5rem
}

.dropdown { 
  display: grid;
  padding: 0 20px;
  flexWrap: wrap;
  gap: 15;
  alignItems: center;
  justify-content: space-between;
}

.label {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: white;
}

.input-label {
  width: 200px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  height: 35px;
  font-size: 15px;
  line-height: 1;
  color: black;
  background-color: white;
  box-shadow: 0 0 0 1px var(--blackA9);
}